@{
    ViewData["Title"] = "About Page";
}

<!-- About Page Content -->

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <img src="~/img/product.jpg" alt="Our Product" /> <!-- Image-->

    <h2>Corporate Headquarters:</h2>
    <p>
        Tire Hub Express is headquartered in the vibrant city of Northville,
        Michigan, strategically located to serve a diverse customer base across the state
        and beyond. Our modern headquarters is a hub of tire expertise, innovation, and
        customer-centric operations.
    </p>

    <h2>General Description:</h2>
    <p>
        Tire Hub Express is a visionary tire company committed to redefining the
        tire retail experience. With a focus on quality, customer satisfaction, and innovation,
        we've quickly become a leading name in the industry.
    </p>
    <h2>Product:</h2>
    <p>
        Our core product is tires, but not just any tires. We offer a comprehensive selection
        of top-quality tires, ranging from everyday commuter tires to high-performance, all-season,
        winter, and specialty tires. As a tire enthusiast, you understand the importance of having
        the right set of tires for every vehicle type, road condition, and driving style. Our tire
        inventory is carefully curated to cater to these diverse needs.
    </p>
    <h2>Corporate Culture:</h2>
    <p>
        The Tire Hub Express is more than just a tire retailer; it's a company driven by a
        passion for safety, innovation, and exceptional customer service. Our staff shares this
        passion and is well-trained to provide expert guidance and assistance. We believe in
        continuous learning and invest in our employees to ensure they are up-to-date with the
        latest tire technologies and trends.
    </p>
    <h2>Customer Focus:</h2>
    <p>
        Tire Hub Express, we prioritize customer satisfaction above all else. We understand that tires are
        an essential aspect of vehicle safety and performance, and we're dedicated to providing not only the
        best products but also expert guidance and unmatched customer service. We believe in building lasting
        relationships with our customers, and we continuously seek feedback to improve and exceed their expectations.
    </p>





</div>
