@{
    ViewData["Title"] = "Catalogue Page";
}

<!-- Catalogue Page Content -->

<div class="text-center">
    <h1 class="display-4">Our Premium Tire Catalogue</h1>
    <h3>We Provide Quality. Anytime and Anywhere!</h3>
    <p>
        Our tire catalog is the heart of our business. We take immense pride
        in offering a carefully curated selection of tires that cater to the diverse
        needs of our customers. Our catalog represents the perfect fusion of quality,
        variety, and performance, ensuring that every tire we offer is a testament to
        our commitment to excellence.
    </p>

    <!-- Images-->

    <img src="~/img/Car.jpg" alt="Car" />

    <img src="~/img/product3.jpg" alt="Product3" />

    <img src="~/img/Product5.jpg" alt="Product5" />

    <img src="~/img/Product7.jpg" alt="Product7" />


</div>
