@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Page Content -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Welcome to Tire Hub Express</h1>
                <p></p>
            </div>
        </div>
    </div>

    <div class="text-center mb-3">
        <!-- Link to Catalogue -->
        <a>href="Home"Our Catalog</a>
    </div>
    
    
</div>
