@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Page Content -->

<div class="text-center">
        <h1 class="display-4">Welcome to Tire Hub Express</h1>
        <img src="~/img/Tire.jpg" alt="Our Tires" />
        <p>
            Welcome to Tire Hub Express, your premier destination for top-quality tires
            and exceptional service. We offer a wide selection of tires for all vehicle types,
            expert guidance to help you make the right choice, fast and reliable installation,
            competitive pricing, and a relentless focus on customer satisfaction. Join us on your
            journey to a safer, smoother ride, and experience tire shopping like never before.
            Your road begins here at Tire Hub Express.
        </p>

        <p>
            Extensive Tire Selection: At Tire Hub Express, we understand that vehicles come in various shapes
            and sizes, each with unique tire requirements. That's why we offer an extensive range of tires,
            including options for sedans, SUVs, trucks, and even specialty vehicles. Whether you're looking
            for all-season, summer, winter, or performance tires, we've got you covered. Our diverse inventory
            ensures you'll find the perfect tires to suit your driving needs and preferences.
        </p>

        <p>
            Expert Guidance: We believe in making the tire selection process easy and informed. Our team of tire
            experts is always ready to assist you in making the right choice for your vehicle. We consider factors
            like your driving habits, road conditions, and budget to ensure you get the most suitable tires, providing
            both safety and performance.
        </p>

        <p>
            Fast and Reliable Installation: Getting your new tires installed shouldn't be a hassle.
            At Tire Hub Express, we take pride in our quick and efficient installation services.
            Our skilled technicians will have your new tires mounted, balanced, and ready to hit
            the road in no time. We understand that your time is valuable, and we aim to minimize
            any inconvenience.
        </p>
    </div>  

   
